{
  "openapi": "3.0.1",
  "info": {
    "title": "모든 API",
    "version": "v0.4"
  },
  "servers": [
    {
      "url": "https://gamzatech.site"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "프로필 이미지 기능",
      "description": "프로필 사진 업로드·조회·수정·삭제 API"
    }
  ],
  "paths": {
    "/api/v1/users/me/update/profile": {
      "put": {
        "tags": ["유저 기능"],
        "summary": "정보 업데이트(마이페이지용)",
        "operationId": "updateProfile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProfileRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoUserProfileResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/projects/update/{projectId}": {
      "put": {
        "tags": ["프로젝트 기능"],
        "summary": "프로젝트 수정",
        "operationId": "updateProject",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": ["request"],
                "type": "object",
                "properties": {
                  "request": {
                    "$ref": "#/components/schemas/ProjectRequest"
                  },
                  "thumbnail": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoProjectListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/profile-images": {
      "get": {
        "tags": ["프로필 이미지 기능"],
        "summary": "프로필 사진 확인",
        "operationId": "getProfileImage",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoProfileImageResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["프로필 이미지 기능"],
        "summary": "프로필 사진 업로드/수정",
        "operationId": "updateProfileImage",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": ["file"],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoProfileImageResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["프로필 이미지 기능"],
        "summary": "프로필 사진 삭제",
        "operationId": "deleteProfileImage",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/posts/{id}": {
      "put": {
        "tags": ["게시물 기능"],
        "summary": "게시물 수정",
        "operationId": "revisePost",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoPostResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["게시물 기능"],
        "summary": "게시물 삭제",
        "operationId": "removePost",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/users/{id}/approve": {
      "put": {
        "tags": ["관리자 기능"],
        "summary": "특정 사용자 승인 (PENDING → USER)",
        "operationId": "approveUserProfile",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/me/complete": {
      "post": {
        "tags": ["유저 기능"],
        "summary": "추가 정보 입력(회원가입용)",
        "operationId": "completeProfile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserProfileRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoUserProfileResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/projects/create": {
      "post": {
        "tags": ["프로젝트 기능"],
        "summary": "프로젝트 생성",
        "operationId": "createProject",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": ["request", "thumbnail"],
                "type": "object",
                "properties": {
                  "request": {
                    "$ref": "#/components/schemas/ProjectRequest"
                  },
                  "thumbnail": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoProjectListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/posts": {
      "get": {
        "tags": ["게시물 조회 기능"],
        "summary": "최신순 게시물 목록 조회",
        "operationId": "getPosts",
        "parameters": [
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoPagedResponsePostListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["게시물 기능"],
        "summary": "게시물 작성",
        "operationId": "publishPost",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoPostResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/posts/images": {
      "post": {
        "tags": ["게시글 이미지 기능"],
        "summary": "게시글 이미지 업로드",
        "operationId": "uploadImage",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": ["file"],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "업로드할 이미지 파일",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoString"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/likes/{postId}": {
      "post": {
        "tags": ["좋아요 기능"],
        "summary": "게시글 좋아요",
        "operationId": "likePost",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoString"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["좋아요 기능"],
        "summary": "좋아요 취소",
        "operationId": "unlikePost",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoString"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/comment/{postId}/comments": {
      "get": {
        "tags": ["댓글 기능"],
        "summary": "게시물의 댓글 목록 조회",
        "operationId": "getComments",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoListCommentResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["댓글 기능"],
        "summary": "게시물에 댓글 등록",
        "operationId": "addComment",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoCommentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/reissue": {
      "post": {
        "tags": ["인증,인가"],
        "summary": "토큰 재발급",
        "operationId": "reissue",
        "parameters": [
          {
            "name": "refreshToken",
            "in": "cookie",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoAccessTokenResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/me/logout": {
      "post": {
        "tags": ["인증,인가"],
        "summary": "로그아웃",
        "operationId": "logout",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoString"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/me/role": {
      "get": {
        "tags": ["유저 기능"],
        "summary": "역할 조회",
        "operationId": "getCurrentUserRole",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoString"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/me/get/profile": {
      "get": {
        "tags": ["유저 기능"],
        "summary": "정보 조회",
        "operationId": "getCurrentUserProfile",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoUserProfileResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/me/activity": {
      "get": {
        "tags": ["유저 기능"],
        "summary": "유저 활동(내가 쓴 글/댓글/좋아요 개수) 조회",
        "operationId": "getActivitySummary",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoUserActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/tags": {
      "get": {
        "tags": ["태그 기능"],
        "summary": "전체 태그 조회",
        "operationId": "getAllTags",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoListString"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/projects": {
      "get": {
        "tags": ["프로젝트 기능"],
        "summary": "전체 프로젝트 목록 조회",
        "operationId": "getAllProjects",
        "parameters": [
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoListProjectListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/posts/{postId}": {
      "get": {
        "tags": ["게시물 조회 기능"],
        "summary": "단일 게시물 상세 조회",
        "operationId": "getPostDetail",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoPostDetailResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/posts/tags/{tagName}": {
      "get": {
        "tags": ["게시물 조회 기능"],
        "summary": "태그별 게시물 조회",
        "operationId": "getPostsByTag",
        "parameters": [
          {
            "name": "tagName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": ["createdAt,DESC"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoPagedResponsePostListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/posts/search": {
      "get": {
        "tags": ["게시물 조회 기능"],
        "summary": "게시물 검색",
        "operationId": "searchPosts",
        "parameters": [
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoPagedResponsePostListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/posts/popular": {
      "get": {
        "tags": ["게시물 조회 기능"],
        "summary": "주간 인기 게시물 조회",
        "operationId": "getWeeklyPopularPosts",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoListPostPopularResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/posts/me": {
      "get": {
        "tags": ["게시물 조회 기능"],
        "summary": "내가 쓴 게시물 목록 조회",
        "operationId": "getMyPosts",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": ["createdAt,DESC"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoPagedResponsePostListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/posts/commits/{postId}": {
      "get": {
        "tags": ["커밋 조회 기능"],
        "summary": "게시물 커밋 내역",
        "operationId": "getCommitHistories",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoListCommitHistoryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/likes/{postId}/liked": {
      "get": {
        "tags": ["좋아요 기능"],
        "summary": "내가 해당 게시글에 좋아요 눌렀는지 여부 조회",
        "operationId": "isPostLiked",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/likes/me": {
      "get": {
        "tags": ["좋아요 기능"],
        "summary": "내가 누른 좋아요 목록 조회",
        "operationId": "getMyLikes",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": ["createdAt,DESC"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoPagedResponseLikeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/comment/me/comments": {
      "get": {
        "tags": ["댓글 기능"],
        "summary": "내가 단 댓글 목록 조회",
        "operationId": "getMyComments",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": ["createdAt,DESC"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoPagedResponseCommentListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/users/pending": {
      "get": {
        "tags": ["관리자 기능"],
        "summary": "대기 중인(PENDING) 사용자 전체 조회",
        "operationId": "getPendingUsers",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoListPendingUserResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/me/withdraw": {
      "delete": {
        "tags": ["유저 기능"],
        "summary": "계정 삭제",
        "operationId": "withdraw",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoString"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/projects/delete/{projectId}": {
      "delete": {
        "tags": ["프로젝트 기능"],
        "summary": "프로젝트 삭제",
        "operationId": "deleteProject",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoString"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/comment/{commentId}": {
      "delete": {
        "tags": ["댓글 기능"],
        "summary": "댓글 삭제",
        "operationId": "deleteComment",
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDtoString"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "UpdateProfileRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "studentNumber": {
            "type": "string"
          },
          "gamjaBatch": {
            "type": "integer",
            "format": "int32"
          },
          "position": {
            "type": "string",
            "enum": ["BACKEND", "FRONTEND", "DESIGNER", "APP_DEVELOPER"]
          }
        }
      },
      "ResponseDtoUserProfileResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/UserProfileResponse"
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "UserProfileResponse": {
        "type": "object",
        "properties": {
          "githubId": {
            "type": "string"
          },
          "nickname": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "profileImageUrl": {
            "type": "string"
          },
          "position": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "studentNumber": {
            "type": "string"
          },
          "gamjaBatch": {
            "type": "integer",
            "format": "int32"
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        }
      },
      "ProjectRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "ProjectListResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "title": {
            "type": "string"
          },
          "snippet": {
            "type": "string"
          },
          "thumbnailUrl": {
            "type": "string"
          }
        }
      },
      "ResponseDtoProjectListResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/ProjectListResponse"
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "ProfileImageResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "imageUrl": {
            "type": "string"
          }
        }
      },
      "ResponseDtoProfileImageResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/ProfileImageResponse"
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "PostRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "commitMessage": {
            "type": "string"
          }
        }
      },
      "PostResponse": {
        "type": "object",
        "properties": {
          "postId": {
            "type": "integer",
            "format": "int64"
          },
          "authorGithubId": {
            "type": "string"
          },
          "repositoryName": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "commitMessage": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ResponseDtoPostResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/PostResponse"
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "ResponseDtoVoid": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object"
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "UserProfileRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "studentNumber": {
            "type": "string"
          },
          "gamjaBatch": {
            "type": "integer",
            "format": "int32"
          },
          "position": {
            "type": "string",
            "enum": ["BACKEND", "FRONTEND", "DESIGNER", "APP_DEVELOPER"]
          }
        }
      },
      "ResponseDtoString": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "string"
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "CommentRequest": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string"
          },
          "parentCommentId": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "CommentResponse": {
        "type": "object",
        "properties": {
          "commentId": {
            "type": "integer",
            "format": "int64"
          },
          "writer": {
            "type": "string"
          },
          "writerProfileImageUrl": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "replies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CommentResponse"
            }
          }
        }
      },
      "ResponseDtoCommentResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/CommentResponse"
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "AccessTokenResponse": {
        "type": "object",
        "properties": {
          "authorization": {
            "type": "string"
          }
        }
      },
      "ResponseDtoAccessTokenResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/AccessTokenResponse"
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "ResponseDtoUserActivityResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/UserActivityResponse"
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "UserActivityResponse": {
        "type": "object",
        "properties": {
          "likedPostCount": {
            "type": "integer",
            "format": "int32"
          },
          "writtenPostCount": {
            "type": "integer",
            "format": "int32"
          },
          "writtenCommentCount": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "ResponseDtoListString": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "Pageable": {
        "type": "object",
        "properties": {
          "page": {
            "minimum": 0,
            "type": "integer",
            "format": "int32"
          },
          "size": {
            "minimum": 1,
            "type": "integer",
            "format": "int32"
          },
          "sort": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ResponseDtoListProjectListResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProjectListResponse"
            }
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "PagedResponsePostListResponse": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PostListResponse"
            }
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "size": {
            "type": "integer",
            "format": "int32"
          },
          "totalElements": {
            "type": "integer",
            "format": "int64"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "PostListResponse": {
        "type": "object",
        "properties": {
          "postId": {
            "type": "integer",
            "format": "int64"
          },
          "title": {
            "type": "string"
          },
          "contentSnippet": {
            "type": "string"
          },
          "writer": {
            "type": "string"
          },
          "writerProfileImageUrl": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "thumbnailImageUrl": {
            "type": "string"
          }
        }
      },
      "ResponseDtoPagedResponsePostListResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/PagedResponsePostListResponse"
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "PostDetailResponse": {
        "type": "object",
        "properties": {
          "postId": {
            "type": "integer",
            "format": "int64"
          },
          "title": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "writer": {
            "type": "string"
          },
          "writerProfileImageUrl": {
            "type": "string"
          },
          "likesCount": {
            "type": "integer",
            "format": "int32"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "comments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CommentResponse"
            }
          }
        }
      },
      "ResponseDtoPostDetailResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/PostDetailResponse"
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "PostPopularResponse": {
        "type": "object",
        "properties": {
          "postId": {
            "type": "integer",
            "format": "int64"
          },
          "title": {
            "type": "string"
          },
          "writer": {
            "type": "string"
          },
          "writerProfileImageUrl": {
            "type": "string"
          }
        }
      },
      "ResponseDtoListPostPopularResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PostPopularResponse"
            }
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "CommitHistoryResponse": {
        "type": "object",
        "properties": {
          "sha": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ResponseDtoListCommitHistoryResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CommitHistoryResponse"
            }
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "ResponseDtoBoolean": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "boolean"
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "LikeResponse": {
        "type": "object",
        "properties": {
          "likeId": {
            "type": "integer",
            "format": "int64"
          },
          "postId": {
            "type": "integer",
            "format": "int64"
          },
          "title": {
            "type": "string"
          },
          "contentSnippet": {
            "type": "string"
          },
          "writer": {
            "type": "string"
          },
          "writerProfileImageUrl": {
            "type": "string"
          },
          "thumbnailImageUrl": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "PagedResponseLikeResponse": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LikeResponse"
            }
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "size": {
            "type": "integer",
            "format": "int32"
          },
          "totalElements": {
            "type": "integer",
            "format": "int64"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "ResponseDtoPagedResponseLikeResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/PagedResponseLikeResponse"
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "ResponseDtoListCommentResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CommentResponse"
            }
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "CommentListResponse": {
        "type": "object",
        "properties": {
          "commentId": {
            "type": "integer",
            "format": "int64"
          },
          "content": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "postId": {
            "type": "integer",
            "format": "int64"
          },
          "postTitle": {
            "type": "string"
          }
        }
      },
      "PagedResponseCommentListResponse": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CommentListResponse"
            }
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "size": {
            "type": "integer",
            "format": "int32"
          },
          "totalElements": {
            "type": "integer",
            "format": "int64"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "ResponseDtoPagedResponseCommentListResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/PagedResponseCommentListResponse"
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "PendingUserResponse": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "integer",
            "format": "int64"
          },
          "gamjaBatch": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string"
          },
          "position": {
            "type": "string"
          }
        }
      },
      "ResponseDtoListPendingUserResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PendingUserResponse"
            }
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
